
#d_ico_list .chq-ico{
  font-size:32px;
}

#d_ico_list{
  li{
    display:inline-block;
    text-align:center;
    width:120px;
    padding:10px;
    border-radius: 5px;
    cursor:pointer;
    &:hover{
      background-color:rgb(0,149,217);
      color:white;
    }
    p{
      font-size:12px;
    }
  }
}