.btn-banner{
  position: fixed;
  z-index: 1000;
  padding:10px 40px;
  border-top:1px solid rgb(210,210,210);
  box-shadow: 0 0 5px 5px 3px rgb(210,210,210);
  left:0;
  right:0;
  bottom:0;
  background-color:white;
}